#settingsDiv,
#settingsDiv.fit {
    visibility: visible;
    position: relative;
    left: auto;
    transform: translate(0, 0);
    margin: auto;
    top: 0;
}

body,
#titlesList {
    margin: 0;
    padding: 0;
}

.settingsCancel {
    display: none;
}