/* Style for page */

.btnSingle {
	cursor: pointer;
	width: 130px;
	height: 80px;
}

.btnSingle[walkState="join"] {
	background-color: #BCED91;
}

.btnSingle[walkState="join"]:hover {
	background-color: #A6D785;
}

.btnSingle[walkState="leave"] {
	background-color: #CD9B9B;
}

.btnSingle[walkState="leave"]:hover {
	background-color: #BC8F8F;
}

.btnSingle[walkState|="no"] {
	background-color: #FFFFFF;
}

#btnAutoJoin {
	position: relative;
	width: 200px;
	cursor: pointer;
	background-color: #FFFFFF;
}

#btnAutoJoin:hover {
	background-color: #EAEAEA;
}

#btnSettings {
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color: transparent;
}

#btnSettings:hover {
	filter: invert(100%);
}

#info {
	position: relative;
	width: 500px;
	color: #FFFFFF
}

.pointsFloating {
	position: fixed;
	opacity: 0;
}


/* Style for options window */

#settingsDiv {
	visibility: hidden;
	overflow-y: auto;
	color: rgb(48, 57, 66);
	width: 600px;
	height: 700px;
	background-color: #FFFFFF;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -350px;
	font-family: Cantarell, 'Segoe UI', Tahoma, sans-serif;
	box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
	background: white;
	z-index: 8000;
}

#settingsDiv label {
	display: inline-block;
	color: rgb(48, 57, 66);
}

#settingsDiv #titlesList {
	list-style: none;
	margin: 20px;
}

#settingsDiv #titlesList .titleListItem {
	color: black;
	font-size: 1.2em;
	margin-bottom: 0.8em;
}

#settingsDiv #titlesList ul {
	list-style: none;
}

#settingsDiv #titlesList ul li {
	margin-left: 18px;
	margin-bottom: 0.3em;
}

#settingsDiv input[type='checkbox'],
#settingsDiv input[type='radio'] {
	width: 13px;
	height: 13px;
	margin-right: 0.6em; /* As in the chrome://settings page */
	margin-top: -3px;
	vertical-align: middle;
}

#settingsDiv #btnSetSave,
#settingsDiv #btnSetCancel {
	padding: 10px;
	width: 100px;
	background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08),
	inset 0 1px 2px rgba(255, 255, 255, 0.75);
	color: #444;
	font: inherit;
	margin: 0 1px 0 0;
	outline: none;
	text-shadow: 0 1px 0 rgb(240, 240, 240);
}

#settingsDiv #btnSetSave:hover,
#settingsDiv #btnSetCancel:hover
{
	background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
	border-color: rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12),
	inset 0 1px 2px rgba(255, 255, 255, 0.95);
	color: black;
}

#settingsDiv #btnSetSave:focus,
#settingsDiv #btnSetCancel:focus
{
	background-image: -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
	box-shadow: none;
	text-shadow: none;
}

#settingsDiv #btnSetSave:active,
#settingsDiv #btnSetCancel:active
{
	-webkit-transition: border-color 200ms;
	border-color: rgb(77, 144, 254);
	outline: none;
}

#settingsDiv #SaveCancelContainer {
	text-align: center;
}

#settingsDiv #rateSteamContainer {
	margin-left: 20px;
}

#settingsDiv input[type=number] {
	width: 55px;
}

#settingsDiv a {
	text-decoration: none;
	color: rgb(17, 85, 204);
}

#settingsDiv a:hover {
	text-decoration: underline;
}

#settingsShade {
	z-index: 7999;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	width: 100%;
	height: 100%;
	opacity: 0.0;
}