div.page__outer-wrap {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

div.page__outer-wrap .global__image-inner-wrap, div.page__outer-wrap img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

div.footer__outer-wrap {
    background-color: #141414;
}

.pointsFloating{
	z-index: 2;
	color: #BBBBBB !important;
}

body{
	background-color: #141414;
}
